.section{
	width:1200px;
	margin:auto;
	height:100%;
}
.section1{
	width:1024px;
	margin:auto;
	height:500px;
}

.table1{
	float:left;
}
.memberlist{
	float:left;	
	margin-left:50px;
}
.noticemanage{
	float:left;
	//display:none;
	margin-left:50px;
}
.qanda{
	float:left;
	//display:none;
	margin-left:50px;
}