html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td, article, aside, canvas, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

div.content {
	/* border: 1px solid black; */
	width: 1024px;
	height: auto;
	margin: auto;
}

/**carrot color button css**/
.carrot_btn{
	background-color: #FF7E36;
	border: 1px solid rgb(255,200,164);
	height: 45px;
	margin: 2px 0;
	color: white;
	border-radius: 4px;
}

/**gray color button css**/
.gray_btn {
    background-color: #F1F3F5;
    color: #212529;
    height: 45px;
	margin: 2px 0;
	border-radius: 4px;
}

/* if the button is hovered, mouse pointer shape changes */
button{
	cursor: pointer;
}
section.page{
	margin: 100px 0;
}