html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	    margin: 0;
	    padding: 0;
	    border: 0;
	    font-size: 100%;
	    vertical-align: baseline;
	    background: transparent;
	}
#header{
		position:fixed;
		top:0; left:0; right:0;
		width:100%;
		z-index:999;
		background: tomato;

}
body{
	padding-top: 60px;
}
.header_list{
	width: 80%;
	margin: 0 auto;
}

ul{
	line-style: none;
}
.header_list > ul > li{
	display: inline-block;
	float: right;
}
.category > li{
	display: inline-block;
	float: right;
	text-decoration:none;
}
.logo_img{
	margin-top: 26px;
    width: 120px;
}
}