/*공통*/

div.content{
	text-align: center;
	margin: auto;
}
form input.input{
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 380px;
	height: 45px;
	padding-left: 5px;
}
.carrot_btn{
	background-color: rgb(255,138,61);
	border: 1px solid rgb(255,200,164);
	height: 45px;
	margin: 2px 0;
	color: white;
}
/*로그인*/
form.login_form{
	width: 400px;
	margin: auto;
}
form.login_form button.carrot_btn{
	width: 100%;
	margin: 0;
}
form.login_form div.besides{
	text-align: left;
	position: relative;
	display: inline-block;
	width: 400px;
	height: 30px;
}
form.login_form div.besides span a{
	font-size: 12px;
	text-decoration: none;
}
form.login_form div.besides span a:link, form.login_form div.besides span a:visited,
form.login_form div.besides span a:hover, form.login_form div.besides span a:active{
	color: black;
}
form.login_form div.besides span label{
	font-size: 12px;
}
form.login_form span.first{
	text-align: left;
	position: absolute; 
	left: 0px;
}
form.login_form span.second{
	position: absolute;
	right: 0px;
}
form.login_form div.buttons{
	position: static;
	display: block;
}


/*회원가입*/
form.join_form{
	width: 450px;
	margin: auto; 
}
form.join_form div.buttons button.carrot_btn{
	width: 200px;
}
/*
form.join_form div input:first-child{
	margin-bottom: 0px;
}
*/
form.join_form input.input, form.join_form input[type="text"]{
	width: 430px;
	height: 40px;
	padding-left: 5px;
	display: inline-block;
	margin-bottom: 15px;
}
form.join_form input.input_phone, form.join_form input.input_post{
	margin-bottom: 10px;
	width: 316px;
} 
form.join_form div.phone_line button.carrot_btn, form.join_form input[type="button"].carrot_btn{
	display : inline-block;
	height: 45px;
	width: 105px;
	margin: 2px 2px;
}
form.join_form input.input_road, form.join_form input.input_jibun{
	width: 180px;
}
form.join_form input.input_detail{
	width: 232px;
}


/*회원가입 성공 시 */
section.joinSuccess{
	text-align:center;
}

section.joinSuccess h1{
	font-size:40px;
}

section.joinSuccess div span{
	color: rgb(128, 128, 161);
}
section.joinSuccess div {
	margin:30px 0;
}

section.joinSuccess div:nth-child(3){
	margin-bottom:150px;
	
}
section.joinSuccess button{
	padding:5px 20px;
	margin: 0 5px;
	border-radius:4px;
	font-size:15px;
	border: 1px solid rgb(255,200,164);
	height: 45px;
	width: 120px;
	cursor: pointer;
}
button.btn_home{
	background-color:white;
	border-radius:4px;
	color: gray;
}

/*아이디 비밀번호 찾기*/
section.findInfo h1{
	font-size: 30px;
}
section.findInfo span{
	margin: 40px 0;
	display: inline-block;
}
section.findInfo div.buttons button{
	display: block;
	width: 400px; height: 50px;
	margin: auto;
	font-size: 16px;
}

/*아이디 비밀번호 찾기 팝업창 */
section.findIdPass{
	padding: 30px;
	text-align: left;
}
section.findIdPass h1.title{
	font-size: 20px;
	border-bottom: 3px solid rgb(255,138,61);
}
section.findIdPass form.form_find, section.findIdPass form.form_findPass{
	margin: 30px 0;
}
section.findIdPass div.intro{
	text-align: left;
	font-size : 15px;
}
section.findIdPass div.inputs{
	margin: 20px 0;
}
section.findIdPass div.inputs input, section.findIdPass form.form_findPass input{
	width: 100%;
	height: 35px;
}
section.findIdPass div.button, section.findIdPass div.button_two{
	text-align: center;
	margin: 30px 0;
}
section.findIdPass div.button button.carrot_btn{
	width: 150px;
}

/*아이디 찾기 결과*/
section.findIdPass div.result{
	margin: 20px 0;
	padding: 20px 10px;
	background-color: lightgray;
	font-weight: bold;
}
section.findIdPass span.id{
	color: rgb(223,89,0);
}
section.findIdPass div.button_two button{
	width: 130px;
}

/*비밀번호 찾기 */
section.findIdPass div.notice{
	margin-top: -30px; 
	color: rgb(223,89,0);
	font-size: 13px;
	line-height: 1.8;
	margin-bottom: 20px;
}
section.findIdPass form.form_findPass input.input_short{
	width: 64%;
	display: inline-block;
}
section.findIdPass form.form_findPass div.inputs button.carrot_btn{
	width: 31%;
	display: inline-block;
	height: 40px;
}
section.findIdPass span{
	font-size: 12px;
	color: blue;
}
section.findIdPass div.certify input.input_short{
	margin-top: 20px;
}
section.findIdPass div.certify{
	display: none;
}
section.findIdPass div.certify span.certify_result{
	color: blue;
}
section.findIdPass div.button button.btn_submit{
	cursor: default;
	height: 45px;
	width: 150px;
}
