/****************
	공통 부분 css
***********************/

div.content{
	font-family:"맑은고딕";
	margin:auto;
	width: 1024px;
	height: auto;
}

div.title{
	border-bottom:2px solid rgb(255, 124, 152);
	text-align:center;
	font-size:19px;
	font-weight:blod;
	color:#333;
	padding-bottom:35px;
}

.btn_cancle, .btn_confrim, .btn_cancle, .btn_sold{
	padding:5px 20px;
	margin: 0 5px;
	background-color:white;
	border:1px solid rgb(128, 128, 161);
	border-radius:5px;
	color: gray;
	font-size:15px;
}
.btn_confrim{
	background-color: rgb(255,138,61);
	border: 1px solid rgb(255,200,164);
	color:white;
}
.btn_cancle{
	background-color:white;
	border: 1px solid rgb(233, 236, 239);
	color: gray;
}

.btn_sold{
	background-color:lightgray;
	border: 1px solid white;
	color: white
}

/***
	product_list_search.css
**/
.plist , .p_register, .plist_r{
	text-align:center;
	background-color: rgb(248, 249, 250);
	padding-bottom:20px;
}

section.plist div.content{
	background-color: white;
	border:1px solid rgb(233, 236, 239);
	border-radius:5px;
	width:70%;
	text-align:center;
 	margin-top:20px;
 	margin-bottom:350px;
}

section.plist div.content img.item, section.plist_r div.content img.item{
	border:1px solid white;
	border-radius:10px;
	width: 200px;
	height:150px;
}
section.plist div.content ul, section.plist_r div.content ul{
	width: 210px;
	padding: 20px 20px ;
	text-decoration:none;
	list-style:none;
	display:inline-block;
	text-align:left;
}
/* 하얀배경 위아래  */
section.plist div.content ul:first-child, section.plist_r div.content ul:first-child{
	padding-top: 40px ;
}
section.plist div.content ul:last-child, section.plist_r div.content ul:last-child{
	padding-bottom: 40px ;
}
section.plist div.content ul li:last-child, section.plist_r div.content ul li:last-child{
	text-align:right;
	
}
section.plist div.content ul li:nth-child(3), section.plist_r div.content ul li:nth-child(3){
	color: gray;
	font-size:15px;
	
}
section.plist div.content ul li:nth-child(4), section.plist_r div.content ul li:nth-child(4){
	color:rgb(255, 138, 61);
	font-size:15px;
	margin-top:3px;
	display:inline-block;
	
}
section.plist div.content ul li:last-child, section.plist_r div.content ul li:last-child{
	display:inline-block;
	float:right;
}

section.plist div.content ul li:last-child span, section.plist_r div.content ul li:last-child span{
	position: relative;
	top:-5px;
}	
section.plist div.content ul li:last-child span, section.plist div.content ul li:last-child img,
section.plist_r div.content ul li:last-child span, section.plist_r div.content ul li:last-child img{
	display:inline-block;
	margin: 0 0 0 3px;
}

section.plist a, section.plist_r a{
	text-decoration:none;
}

section.plist span.prod_t, section.plist_r span.prod_t{
	display:block;
	width:200px;
	height:25px;
	text-align:left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	color:black;
	font-weight:bold;
	font-size: 16px;
}


/* search css *//* product_list */

/*search placeholder icon*//* 좀 더 수정하기 */
section.content_search input.search::-webkit-input-placeholder,
section.content_search2 input.search::-webkit-input-placeholder
{
  background-image: url("http://localhost:9000/daangn/pro_img/icon_search.png");
  background-size: contain;
  background-position:right;
  background-repeat: no-repeat;
  text-align: left;
  font-size:18px;
  text-indent: 10px;
}

.content_search, .content_search2{
	margin:auto;
	width:70%;
	/* border:1px solid red; */
	height:100px;
	text-align:left;
}

.pro_select, section.content_search input, section.content_search button.carrot_btn{
	height:35px;
	margin-top:20px;
	font-size:18px;
}

.pro_select, section.content_search2 input, section.content_search2 button.carrot_btn, section.content_search button.btn_confrim{
	height:35px;
	margin-top:20px;
	font-size:18px;
}

section.content_search button.carrot_btn{
	height:38px;
	width:70px;
}

section.content_search2 button.carrot_btn{
	height:38px;
	width:70px;
}

section.content_search button.btn_confrim{
	height:38px;
	border-radius:0;
}

.pro_select{
	height:39px;
	width:70px;
	border:1px solid rgb(233, 236, 239);
	border-radius:3px;
}

section.content_search input, section.content_search2 input{
	width:40%;
	border:1px solid rgb(233, 236, 239);
	border-radius:3px;
}

.pro_select:hover, section.content_search input:hover{
	border:1px solid black;
	
}

section.content_search2 input:hover{
	border:1px solid black;
	
}

section.content_search div.message, section.content_search2 div.message{
	display:block;
	margin-top:5px;
	font-weight:bold;
}
/* 두번째 메시지 */
section.content_search div.message span:nth-child(2){
	color:gray;
	font-weight:bold;
}
section.content_search2 div.message span:nth-child(2){
	color:gray;
	font-weight:bold;
}

/* product_list */
section.content_search2{
	text-align:center;
	padding: 100px;
}

section.content_search2 div.pro_button{
	margin:20px 0;
}

/* nodata_css */

.content_nodata{
	background-color: white;
	border:1px solid rgb(233, 236, 239);
	border-radius:5px;
	width:70%;
	text-align:center;
	margin:auto;
 	margin-top:20px;
 	padding: 50px 0;
}

.content_nodata span{
	color: rgb(255,138,61);
	display: block;
	margin-top:10px;
	font-weight: bold;
}

/***
	product_register.css
**/

section.p_register div.content{
	border:1px solid rgb(233, 236, 239);
	border-radius: 10px;
	background-color:white;
	text-align:left;
}

section.p_register{
	padding-top:30px;
}

section.p_register div.content ul{
	list-style : none;
}

section.p_register div.content ul li{
	border-bottom: 1px solid rgb(233, 236, 239);
	height: 35px;
}

section.p_register div.content ul li:nth-child(4){
	height: 200px;
}

section.p_register div.content ul li:nth-child(2), section.p_register div.content ul li:nth-child(5){
	height: 45px;
}

.r_content{
	width: 100%;
	height: 180px;
}

.pro_title{
	width: 100%;
	height: 25px;
}

section.p_register div.content ul li>span, section.p_register div.content ul li select{
	font-size:20px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}

section.p_register div.content ul li:nth-child(5) input{
	font-size: 15px;
	padding: 5px 0;
	margin-top: 8px;
	margin-left: 10px;
	border: 1px solid rgb(233, 236, 239);
	border-radius: 3px;
}

.pro_title, .r_content{
	width: 98%;
	border: none;
	margin-left: 10px;
	margin-top : 10px;
}

section.p_register div.content ul li:last-child{
	border-bottom: 1px solid white;
	text-align:right;
	margin-bottom: 20px;
	margin-top: 20px;
}
section.p_register div.content ul li:last-child button.btn_confrim{
	margin-right:30px;
}

section.p_register div.content ul li:nth-child(6){
	height: 110px;
} 

div.pic_icon{
	border:1px solid rgb(233, 236, 239);
	width: 100px;
	height: 100px;
	margin-top : 10px;
	margin-left: 10px;
	border-radius: 5px;
	text-align: center;
}

div.pic_icon img{
	width: 50px;
	height: 50px;
	margin-top: 15px;
}
div.pic_icon span.pic_count{
	color:gray;
	font-size: 13px;
	font-weight: 100;
	display: block;
	width: 40px;
	margin: auto;
}

section.p_register div.content ul li:nth-child(7){
	height: 160px;
}

section.p_register div.content ul li:nth-child(7)>span{
	border-bottom: 1px solid rgb(233, 236, 239); 
	padding-bottom: 10px; 
}

section.p_register div.content ul li:nth-child(7) img{
	margin: 10px 0 10px 15px;
}

section.p_register div.content ul li:nth-child(7) button{
	border: 1px solid rgb(255,200,164);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: inline;
	position: relative;
	bottom: 15px;
	right: 10px;
	background-color: rgb(255,138,61);
	color: white;
}

.p_content section.plist_r div.content{
	margin-bottom:0;
	padding-bottom:0;
}

/***
	product_content.css
**/


/* 본문내용 */
section.plist_r{
	background-color: white;
	width:1024px;
}

section.plist_r div.content{
	border:1px solid white;
	background-color: white;
	border-top:1px solid rgb(233, 236, 239);
	border-radius:5px;
	width:80%;
	text-align:center;
 	margin-top:20px;
 	padding-bottom:350px;
}

.plist_r div.content_t{
	display: block;
	text-align:left;
	padding: 20px 15px;
}

.plist_r div.content_t span{
	font-size:20px;
	font-weight:bold;
}

.plist_r div.content_t span:last-child{
	color: rgb(255,138,61);
	float: right;
}

section.p_content {
	width: 80%;
	margin: auto;
}
section.p_content div.profile{
	border-bottom:1px solid rgb(233, 236, 239);
	margin: 10px;
}

div.pro_content{
	margin-left: 10px;
}

div.profile div:nth-child(2), div.profile div:last-child{
	display: inline-block;
}

div.profile div:last-child{
	position: relative;
	left: 530px;
}

div.profile div:last-child img{
	width:30px;
	height: 30px;
}

div.profile div:last-child span:last-child{
	color: gray;
	font-size: 13px;
	display: block;
	margin-left: 20px;
	padding: 10px 0;
}

/* 매너온도 수치 */
div.profile div:last-child span:first-child{
	color:  rgb(24, 110, 192);
	font-size: 20px;
}

a.c_manner{
	color: gray;
	font-size: 13px;
	position:relative;
	bottom:0px;
	left:10px;
}

/* progress bar */
div.content_manner{
	width:150px;
	height:80px;
}

div.manner_pro{
	width:100px;
} 

div.manner_pro span{
	position:relative;
	top:17px;
	left: 5px;
}

div.content_manner img{
	position:relative;
	left:75px;
	bottom:20px;
}

div.manner_pro progress {
	width:80px;
	height:10px;
	position:relative;
	top:10px;
	right: 10px;
}

/* 프로필 */
section.p_content div.profile div:nth-child(2){
	margin-left: 10px;
	margin-bottom: 10px;
}
section.p_content div.profile>img{
	width:30px;
	height:30px;
	margin-left: 10px;
	margin-bottom: 10px;
}

section.p_content div.profile div:nth-child(2) a span {
	display: block;
	color: black;
	font-weight:bold;
	font-size:17px;
}

section.p_content div.profile div:nth-child(2) a{
	text-decoration: none;
}

section.p_content div.profile div:nth-child(2)>span:last-child {
	color: gray;
	font-size:15px;
}

/* 내용 */
div.pro_content h1{
	font-size:20px;
	text-align : left;
	color: black;
	margin-top: 30px;
}

div.pro_content span{
	font-size: 13px;
	color: gray;
	padding-bottom:10px;
	
}

div.pro_content h3{
	padding-top: 10px;
	padding-bottom:20px;
	
}

div.pro_content p{
	padding-bottom:10px;
}

/* 판매상품 추가 */
section.p_content section.plist_r div.content{
	margin:0;
	margin-top: 0px;
	text-align:left;
	
}

section.p_content div.content_button{
	text-align: right;
	margin-top: 10px;
	padding: 5px 0 13px 0;
	border-top: 1px solid rgb(233, 236, 239);
}

section.p_content div.content_button .heart_button {
	width:35px;
	height:35px;
	font-size: 20px;
	background-color: white;
	border: 1px solid white;
	color: rgb(255,138,61);
}

/* 가격제안 버튼 */
div.pro_content h3{
	display: inline-block;
	margin-right: 5px;
}

div.pro_content button.btn_no{
	border: 1px solid rgb(233, 236, 239);
	border-radius: 4px;
	background-color: white;
	color:gray;
}

div.pro_content button.btn_yes{
	border: 1px solid rgb(255,200,164);
	border-radius: 4px;
	background-color: rgb(255,138,61);
	color:white;
}

/* carousel부분 */
div.content div.carousel{
	padding: 15px;
	width: 450px;
	margin: auto;
}



/***
	product_delete.css
**/

div.content section.m4_page{
	width:90%;
	margin:auto;
	text-align:center;
	margin-top: 50px;
}

section.m4_page span{
	font-size:30px;
	font-weight:bold;
	display: block;
	margin: 0 0 10px 0;
}

section.m4_page span:nth-child(3){
	font-size:18px;
	display:blcok;
	margin-bottom:20px;
	color: rgb(255,138,61);
}

div.content section.m4_page div{
	margin-bottom:100px;
}

div.update_click{
	display: inline-block;
	position:relative;
	left: 420px;
	font-size: 13px;
}

div.update_click a{
	text-decoration:none;
	margin: 0 5px;
	color: gray;
}



/***
	product_more.css
**/
.btn_filter, .btn_filter_onclick{
	font-size: 20px;
	background-color: white;
	border: 1px solid white;
	border-bottom: 2px solid gray;
	width: 259px;
	padding: 10px 0;
	color: gray;
	margin-top: 20px;
}

.btn_filter_onclick{
	border-bottom: 2px solid black;
	color: black;
	font-weight: bold;
}

.btn_back{
	border: 1px solid white;
	background-color: white;
	font-size: 30px;
	font-weight: bold;
}

.sold{
	opacity: 0.5;
}

/***
	product_report.css
**/


section.product_more div.content{
	text-align:left;
}

section.product_more div.message{
	border: 1px solid red;
}


/***
	product_price.css
**/
div.price_content span{
	display:block;
}

div.price_content div{
	margin-bottom: 10px;
}

div.price_content input{
	width: 250px;
	height: 25px;
	border: 1px solid white;
	border-bottom: 1px solid gray;
}
